<div class='container' ng-controller='principal' ng-init='classes=false;'>
	
	<div class='row'>

		<div class='card-panel white row' >
				<span class='col m2 s2'>
					<img src="/images/{{info.badge}}" class='imgBadge' >
				</span>
				<span class='col m10 s10'>
					<h4 >{{info.school}}</h4>
					<h6 >{{info.principal}}</h6>
					<h6> Cape Town , WC ,7801 </h6>
				</span>
		</div>

		<div class='card-panel lighten-3'>			
			<div class="row">
			    <div class="col s12">
			      <ul class="tabs  orange lighten-3">
			        <li class="tab btn grey col s3"><a href="#test1">Students</a></li>
			        <li class="tab btn grey col s3"><a class="active" href="#test2">Teachers</a></li>
			        <li class="tab btn grey col s3"><a href="#grades">Grades</a></li>
			        <li class="tab btn grey col s3"><a href="#test3">Create</a></li>
			        <li class="tab btn grey black-text col s3"><a href="#test4">Manage</a></li>
			      </ul>
			    </div>
			    <!--         STUDENTS TAB         -->
			    <div id="test1" class="col s12">
			    	<table>
			    	<thead>
			    		<td> Name </td>
			    		<td>grade</td>
			    		<td>options</td>
			    	</thead>
			    	{{#students}}
			    		<tr>
			    			<td>{{name}}</td>
			    			<td>{{grade}}</td>
			    			<td>
			    				<a href='principal/{{info.id}}/students/edit/{{id}}' class='btn orange'> Edit </a>
			    				<a href='principal/{{info.id}}/students/delete/{{id}}' class='btn red'> Delete </a>
			    				<a href='principal/{{info.id}}/students/fees/{{id}}' class='btn grey black-text lighten-2'> View fees </a>
			    			</td>	
			    		</tr>
			    	{{/students}}
			    	</table>
			    </div>


			    <!--          TEACHERS TAB         -->
			    <div id="test2" class="col s12">
			    	
			    	{{#teachers}}
			    			<div class='row card-panel'>
			    				
			    				
			    					<h4>{{name}}</h4>
			    					<h5>Teaches {{stream}}</h5>
			    				

			    				
				    				<a href='principal/{{info.id}}/teachers/edit/{{id}}' class='btn orange'> Edit </a>
				    				<a href='principal/{{info.id}}/teachers/delete/{{id}}' class='btn red'> Delete </a>
				    				<a href='principal/{{info.id}}/teachers/progress/{{id}}' class='btn grey black-text lighten-2'>Check Progress </a>
				    			

				    		</div>
			    				
			    		
			    	{{/teachers}}
			    
			    </div>
			    <!--          CREATE TAB         -->
			    <div id="test3" class="col s12">
			    	<div class='card-panel transparent center'>
			    		<button class='btn orange'> New Class </button>
			    		<button class='btn orange'> New Student </button>
			    		<button class='btn orange'> New Teacher </button>
			    		<button class='btn orange'> Add Grade </button>
			    		<button class='btn orange'> Create Event</button>
			    	</div>

			    </div>

			    <!--          MANAGE TAB         -->
			    <div id="test4" class="col s12">
			    	<div class='card-panel transparent center'>
			    		<button class='btn orange'> Classes </button>
			    		<button class='btn orange'> Fees </button>
			    		<!--<button class='btn orange'> Curiculumn</button> -->
			    		<button class='btn orange'> Subjects </button>
			    		<button class='btn orange'> Extramurals</button>
			    	</div>
			    </div>

			    <!--          GRADES TAB         -->
			    <div id="grades" class="col s12">
			    	<div class='card-panel transparent center'>

			    		 <ul class="tabs  orange lighten-3">
					        <li class="tab btn orange darken-3 col s3"><a href="#classes">Classes</a></li>
					        <li class="tab btn orange darken-3 col s3"><a class="active" href="#subjects">Subjects</a></li>
					     </ul>
			    		 <div id="classes" class="col s12"> classes </div>
			    		 <div id="subjects" class="col s12"> 
			    		 		{{#subjects}}
			    		 			<span class='card-panel'>
			    		 				{{name}}
			    		 			</span>
			    		 		{{/subjects}}
			    		 </div>
			    		 </div>
			    	</div>
			    </div>

			</div>
		</div>
		
	</div>
</div>